{block name=menu}

	<br>
	<div  class="btn-group-vertical " role="group" aria-label="Button group " style="width: 200px; height: 60%; position: fixed; left:0px;">
			<form>
			   <button type="button" class="btn btn-secondary">Usuário</button>
			  <button type="button" class="btn btn-ligth" ><a href="index.php?modulo=usuario&acao=cadastrar">Cadastrar </a> </button>
			  <button type="button" class="btn btn-ligth"><a href="index.php?modulo=usuario&acao=listar">Listar</a></button>
			  <button type="button" class="btn btn-ligth"><a href="index.php?modulo=usuario&acao=atualizar">Atualizar</a></button>
			  <button type="button" class="btn btn-ligth"><a href="index.php?modulo=usuario&acao=excluir">Excluir</a></button>
			  <br>
			  <button type="button" class="btn btn-secondary">Refeição</button>
			  <button type="button" class="btn btn-ligth"><a href="index.php?modulo=refeicao&acao=cadastrar">Cadastrar</a></button>
			  <button type="button" class="btn btn-ligth"><a href="index.php?modulo=refeicao&acao=listar">Listar</a></button>
			  <button type="button" class="btn btn-ligth"><a href="index.php?modulo=refeicao&acao=atualizar">Atualizar</a></button>
			  <button type="button" class="btn btn-ligth"><a href="index.php?modulo=refeicao&acao=excluir">Excluir </a></button>
			<!--  <button type="button" class="btn btn-secondary"><a href="index.php?modulo=reserva&acao=listar">Reservas </a></button>-->
			</form> 
	</div>
	
	
{/block}